body {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

/* заголовок */
.header {
    min-height: 50px;
    max-height: 103;
    text-align: center;
    color: aqua;
    font-size: 48px;
    font-weight: 700;
    padding: 20px 0;
}

.header span {
    color: black;
}

/*собор */
.sobor {
    background-image: url(/work3/img/Успенський\ собор\ 1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 852px;
    padding-top: 13%;
    box-sizing: border-box;
    padding-left: 5%;
   
}

.content {
    background-image: url(/work3/img/flag.png);
    height: 388px;
    background-repeat: no-repeat;
    font-size: 64px;
    color: white;
    width: 50%;
    padding-left: 4rem;
    padding-top: 5rem;
    box-sizing: border-box;
}

/*Визначні місця */
.h1 {
    margin: 60px 0;
    font-size: 48px;
    font-weight: 700;

}

.line {
    width: 361px;
    border-bottom: 5px solid #33B8F1;
}

.main {
    padding: 0 80px;
}
  

.card {
    border: 1px solid black;
    width: 30%;
    color: #030303;
    display: inline-block;
    vertical-align: top;
    border-radius: 35px;
    box-shadow: 0px 4px 6px rgb(0 0 0 /50%);
}

.card__image {
    width: 100%;
}

.card_margin {
    margin: 0 4.5%;
}

.card__title {
    font-size: 36px;
    padding: 10px;
    box-sizing: border-box;
}

.card__subtitle {
    font-size: 32px;
    font-weight: 400;
    color: #595050;
    padding: 10px;
    box-sizing: border-box;
    height: 150px;
}

/* ВСЕ БУДЕ УКРАЇНА 1 */

.h2 {
    margin: 60px auto;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.line2 {
    width: 361px;
    border-bottom: 5px solid #33B8F1;
    margin: auto;
    
}


.heart {
    background-image: url(/work3/img/Жовте\ сердце\ \(1\)\ 1.png);
    background-repeat: no-repeat;
    height: 877px;
    background-position: center;
}



.button {
    width: 430px;
    height: 74px;
    background: #33ADF1;
    text-align: center;
    font-size: 48px;
    color: white;
    padding: 10px;
    margin: auto;
    box-sizing: border-box;
    
    
}

.textwhite {
    color: white;
}

.footer {
    position: absolute;
    width: 100%;
    height: 405px;
    top: 2967px;
    background-color: #0A2DA9;
}

.footertext {
    text-align: center;
    color: aqua;
    font-size: 64px;
    font-weight: 400;
    padding: 49px 0;
    font-style: normal;
    
}

.footertext span {
    color: black;
}

.contact {
    text-align: center;
    font-family: 'Inder';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
}

.mail {
    padding-bottom: 35px;
}

.tel {
    padding-bottom: 35px;
}

a {
    color: #353949;
    text-decoration: none;
}


.social {
    background-color: #0931BF;
    display: inline-block;
    width: 68px;
    height: 55px;
    vertical-align: top;
    border-radius: 35px;
    padding-top: 10px;
}

.telegram {
    margin-left: 56px;
    margin-right: 28px;
}

.instagram {
    margin-left: 28px;
    margin-right: 56px;
}

